# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore macOS file in project
.DS_Store
go-pro/.DS_Store
go-pro/src/example/.DS_Store

# Ignore .idea/
.idea/
